@page "/{categorySlug}-posts"

<PageTitle>@Utils.GetPageTitle(_category?.Name + " Posts")</PageTitle>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            @if (HasPosts)
            {
                <h5 class="font-weight-bold spanborder"><span>Featured in @_category?.Name</span></h5>
                <div class="card border-0 mb-5 box-shadow">
                    <div style="background-image: url(@_featured.Image); height: 350px; background-size: cover; background-repeat: no-repeat;">
                    </div>
                    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                        <h2 class="h2 font-weight-bold">
                            <a class="text-dark" href="posts/@_featured.Slug">@_featured.Title</a>
                        </h2>
                        <p class="card-text">
                            @_featured.Introduction
                        </p>
                        <div>
                            <small class="d-block">@_featured.User.Name</small>
                            <small class="text-muted">@_featured.PublishedAt.ToDisplayDate()</small>
                        </div>
                    </div>
                </div>
                <h5 class="font-weight-bold spanborder"><span>Latest</span></h5>
                <BlogPostList Posts="_recent" />

                <hr />
                <div class="d-block">
                    <a href="@CategorySlug-posts/all" class="btn btn-sm btn-outline-primary float-right" style="margin-bottom: 1rem">All @_category?.Name Posts</a>
                </div>
                <hr style="clear: right" />
            }
            else
            {
                <h5 class="font-weight-bold spanborder"><span>@_category?.Name Posts</span></h5>
                <div class="card border-0 m-5 box-shadow">
                    <p class="p-5 text-center font-weight-bold" style="font-size: 25px">There are no posts in this category yet.</p>
                </div>
            }
        </div>

        @if (HasPosts)
        {
            <div class="col-md-4 pl-4">
                <div class="sticky-top">
                    <h5 class="font-weight-bold spanborder"><span>Popular in @_category?.Name</span></h5>
                    <PopularBlogPostList Posts="_popular" />
                </div>
            </div>
        }

    </div>
</div>

<div class="container pt-4 pb-4">
    <SubscribeBox />
</div>
