<ol class="list-featured">
    @foreach (var post in Posts)
    {
        <li>
            <span>
                <h6 class="font-weight-bold">
                    @if (!string.IsNullOrWhiteSpace(post.Slug))
                    {
                        <a href="/posts/@post.Slug" class="text-dark">@post.Title</a>
                    }
                    else
                    {
                        <span class="text-dark">@post.Title</span>
                    }
                </h6>
                <p class="text-muted">
                    @post.AuthorName in <a href="/@post.CategorySlug-posts" title="@post.CategoryName Posts">@post.CategoryName</a>
                </p>
            </span>
        </li>
    }
</ol>


@code {
    [Parameter, EditorRequired]
    public BlogPostVm[] Posts { get; set; } = [];
}
