@page "/admin/manage-categories"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>@Utils.GetPageTitle("Manage Categories")</PageTitle>

<AdminHeader Title="Manage Categories">
    <ActionButtons>
        <button type="button" class="btn btn-primary btn-sm" @onclick="() => this._operatingCategory = new Category()">+ Add new Category</button>
    </ActionButtons>
</AdminHeader>

<ConfirmationModal Title="Confirm Delete"
                   Message="Are you sure you want to delete this category?"
                   IsVisible="@_showConfirmationModal"
                   ConfirmationChanged="OnModalConfirm" />

@if (this._isLoading)
{
    <Loader LoaderText="@this._loadingText" />
}

@if (this._operatingCategory is not null)
{
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <EditForm Model="this._operatingCategory" OnValidSubmit="SaveCategoryAsync">
                <DataAnnotationsValidator />
                <div class="shadow p-3" style="display: grid; grid-template-columns: auto 150px; grid-column-gap: 15px">
                    <div>
                        <labl class="form-label">Category Name</labl>
                        <InputText @bind-Value="this._operatingCategory.Name" class="form-control form-control-sm" placeholder="Category name" />
                        <ValidationMessage For="() => this._operatingCategory.Name" />
                        <label class="form-label mt-2">
                            <InputCheckbox @bind-Value="this._operatingCategory.ShowOnNavBar" />
                            Show on Navbar
                        </label>
                    </div>
                    <div class="d-flex flex-column">
                        <button type="submit" class="btn btn-sm btn-success mb-2">Save</button>
                        <button type="submit" class="btn btn-sm btn-danger" @onclick="() => this._operatingCategory = null">Cancel</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

<QuickGrid Items="@_categories" class="table table-bordered table-striped table-hover">
    <PropertyColumn Property="@(c => c.Id)" />
    <PropertyColumn Property="@(c => c.Name)" />
    <PropertyColumn Property="@(c => c.Slug)" />
    <TemplateColumn Title="Show on Navbar">
        @if (context.ShowOnNavBar)
        {
            <label class="text-success">
                <input type="checkbox" @onchange="@(() => HandleShowOnNavBarChanged(context))" checked /> Yes
            </label>
        }
        else
        {
            <label class="text-danger">
                <input type="checkbox" @onchange="@(() => HandleShowOnNavBarChanged(context))" /> No
            </label>
        }
    </TemplateColumn>
    <TemplateColumn>
        <button type="button" class="btn btn-sm btn-primary" @onclick="() => HandleEditCategory(context)">Edit</button>
        <button type="button" class="btn btn-sm btn-danger" @onclick="() => ConfirmDeleteCategory(context)">Delete</button>
    </TemplateColumn>
</QuickGrid>
