@page "/admin/manage-blog-posts/new"
@page "/admin/manage-blog-posts/edit/{id:int?}"


@rendermode InteractiveServer

<PageTitle>@Utils.GetPageTitle(PageTitle)</PageTitle>

<HeadContent>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
</HeadContent>

<SectionContent SectionName="scripts">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>
</SectionContent>

<AdminHeader Title="@PageTitle">
    <ActionButtons>
        <NavLink href="/admin/manage-blog-posts" class="btn btn-primary btn-sm">Go Back</NavLink>
    </ActionButtons>
    </AdminHeader>

@if (_isLoading)
{
    <Loader LoaderText="@_loadingText" />
}

<EditForm Model="_blogPost" OnValidSubmit="SaveBlogPostAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <InputText @bind-Value="_blogPost.Title" class="form-control form-control-sm" placeholder="Blog post title" />
                <ValidationMessage For="() => _blogPost.Title" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <InputSelect @bind-Value="_blogPost.CategoryId" class="form-control form-control-sm">
                    <option value="0">Select Category</option>
                    @foreach (var category in _categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => _blogPost.CategoryId" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Introduction</label>
                <InputText @bind-Value="_blogPost.Introduction" class="form-control form-control-sm" placeholder="Blog post introduction" />
                <ValidationMessage For="() => _blogPost.Introduction" class="text-danger" />
            </div>
            @if (!string.IsNullOrWhiteSpace(_imageUrl))
            {
                <div class="mb-3">
                    <img src="@_imageUrl" style="height: 200px" />
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Upload Image</label>
                <br />
                <InputFile OnChange="HandleFileUploadAsync" />
            </div>
            <div class="mb-3">
                <label class="form-label ml-4">
                    <InputCheckbox @bind-Value="_blogPost.IsFeatured" class="form-check-input" />
                    Featured?
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label ml-4">
                    <InputCheckbox @bind-Value="_blogPost.IsPublished" class="form-check-input" />
                    Published?
                </label>
            </div>
            @if (!string.IsNullOrWhiteSpace(_errorMessage))
            {
                ToastService.ShowToast(ToastLevel.Error, _errorMessage, "Error");
            }
        </div>
        <div class="col-sm-6 d-flex">
            <div class="mb-3 flex-grow-1">
                <label class="form-label">Content</label>
                <BlazoredTextEditor ToolbarCSSClass="form-control" EditorCssClass="form-control" @ref="@_quillHtml" Placeholder="Enter your blog post content here...">
                    <ToolbarContent>
                        <select class="ql-header">
                            <option selected=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                        </select>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-color"></button>
                            <button class="ql-background"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </ToolbarContent>
                    <EditorContent>
                        @((MarkupString)_content)
                    </EditorContent>
                </BlazoredTextEditor>

                @* <ValidationMessage For="() => _blogPost.Content" class="text-danger" /> *@
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</EditForm>
